.container{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  &.success{
    background-color: green;
  }

  &.error{
    background-color: red;
  }
}

.text{
  font-size: 1rem;
  color: white;
  margin: 0;
  padding: .5rem;
}
