@import "../../styles";

.base{
  background-color: $primary;
}

.control{
  padding: 1rem;
}

.label{
  font-size: .9rem;
  margin-bottom: .25rem;

  &.block{
    display: block;
  }
}

.wrapper{
  composes: tight-wrapper from '../../styles.scss';
}
