@import "../../../styles/colors";

.base{
  position: relative;
  width: 100%;
  padding-top: 40px;
}

.header{
  padding: 1rem;
  color: white;
  background-color: $primary;

  &.primary{
    background-color: $primary;
  }

  &.light{
    background-color: white;
  }

  &.secondary{
    background-color: $secondary;
  }

  &.tertiary{
    background-color: $tertiary;
  }
}

.content{
  padding: 1rem;
}
